.FileUpload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    color: #1f3c44;
}

.icon {
    color: #1f3c44;
}

.FileUpload div {
    position: relative;
    z-index: 10;
}

.FileUpload label:hover {
    text-decoration: underline;
}

.button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}