body{
  background-color: #151c21;
}

.MainWindow {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ImageBlock{
  background-color: rgba(172, 183, 201, 0.8);
  align-items: center;
  opacity: .4;
  border-radius: 10px;
  margin: 15px;
  justify-content: center;
}


.logo {
  height: 50px;
  width: 50px;
  background-size: cover;
  animation: App-logo-spin infinite 30s linear;
  pointer-events: none;
}

.header {
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  opacity: .8;
  margin: 15px;
  padding: 10px;
  font-size: calc(4px + 2vmin);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}