body{
  background-color: #20282f;
}

.MainWindow {
  display: flex;
  flex-direction: column;
}

.ImageBlock{
  background-color: rgba(42, 53, 61, 0.8);
  align-items: center;
  opacity: .4;
  border-radius:  5%;
  justify-content: center;
}


.App {
  text-align: center;
}

.App-logo {

  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff9dd8;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}