body{
  background-color: #151c21;
}

.MainWindow {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ImageBlock{
  background-color: rgba(172, 183, 201, 0.8);
  align-items: center;
  opacity: .4;
  border-radius: 10px;
  margin: 15px;
  justify-content: center;
}


.App {
  text-align: center;
}

.logo {
  background-size: cover;
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.header {
  background-color: rgba(233, 235, 239, 0.89);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.footer{
  text-align: center;
  color: #898989;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}