.panel {
    height: 200px;
    background: #fff;
    border: 1px solid #cecece;
    border-radius: 5px;
}

.container {
    display: flex;
    background-size: cover;
}

.image {
    max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}